{
  "openapi": "3.1.0",
  "info": {
    "title": "Glemo API",
    "version": "0.1.0",
    "description": "Glemo is a credential verification network: one API to verify\ncredentials from **any issuer** (W3C Verifiable Credentials 2.0 / Open\nBadges 3.0) with a deterministic, cryptographic verdict.\n\n## Base URLs\n\n| Environment | URL |\n|-------------|-----|\n| Sandbox | `https://api-sandbox.glemo.io` |\n| Production | `https://api.glemo.io` |\n\n## Authentication\n\nSend your API key as a Bearer token:\n\n```bash\ncurl https://api-sandbox.glemo.io/verify \\\n  -H \"Authorization: Bearer glemo_test_...\"\n```\n\nNo key yet? `POST /sandbox/keys` provisions a test key plus two sample\ncredentials. No signup. Follow the\n[quickstart](https://glemo.io/docs/quickstart) for the 5-minute path.\n\n## Verdicts\n\nEvery verification resolves to exactly one of: `valid`, `revoked`,\n`expired`, `tampered`, `not_found`, `not_verifiable`. Never a maybe.\n\n## Errors & rate limits\n\nErrors are JSON with a stable `error` code (`unauthorized`, `forbidden`,\n`validation`, `rate_limited`). Throttled requests return `429` with a\n`Retry-After` header in seconds."
  },
  "servers": [
    {
      "url": "https://api-sandbox.glemo.io",
      "description": "Sandbox"
    },
    {
      "url": "https://api.glemo.io",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Verify",
      "description": "The product: one call, a deterministic verdict."
    },
    {
      "name": "Issue",
      "description": "The supply side: issue verifiable credentials your recipients can hold and anyone can verify. Email is enough. No wallet required."
    },
    {
      "name": "Sandbox",
      "description": "Self-serve test keys and sample credentials. No signup, rate-limited."
    },
    {
      "name": "Trust marks",
      "description": "Portable \"Verified by Glemo\" badges tied to real verification events. Each links to a public, server-backed proof."
    },
    {
      "name": "Public verification",
      "description": "Verify a credential from a share link. No API key, rate-limited, no PII."
    },
    {
      "name": "Relying parties",
      "description": "Manage your relying parties, API keys, verification history and usage."
    },
    {
      "name": "Status lists",
      "description": "W3C Status List 2021 credentials: the standard revocation mechanism."
    },
    {
      "name": "Reputation",
      "description": "Issuer reputation from real network activity: the signal only the center of the network can compute."
    },
    {
      "name": "System",
      "description": "Service health."
    }
  ],
  "components": {
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Service health",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "version": {
                      "type": "string"
                    },
                    "uptime": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "status",
                    "version",
                    "uptime"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/plans": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Public pricing plans",
        "description": "The pricing plans (free/starter/scale): the single source the pricing page renders, with the public checkout price id for the in-app overlay.",
        "responses": {
          "200": {
            "description": "Plans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plans": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "includedVerifications": {
                            "type": "number"
                          },
                          "pricePerVerificationCents": {
                            "type": "number"
                          },
                          "overagePolicy": {
                            "type": "string"
                          },
                          "features": {
                            "type": "object",
                            "properties": {
                              "byZkTls": {
                                "type": "boolean"
                              },
                              "byImage": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "byZkTls",
                              "byImage"
                            ]
                          },
                          "priceId": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "includedVerifications",
                          "pricePerVerificationCents",
                          "overagePolicy",
                          "features",
                          "priceId"
                        ]
                      }
                    }
                  },
                  "required": [
                    "plans"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Create an account with email and password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created; session token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "token"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Email already registered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Sign in with email and password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "token"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Current session claims",
        "responses": {
          "200": {
            "description": "The authenticated user's claims plus live account state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "nullable": true
                    },
                    "emailVerified": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "emailVerified"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/admin": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Admin role probe",
        "responses": {
          "200": {
            "description": "Caller has the admin role",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Not an admin"
          }
        }
      }
    },
    "/auth/google": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Sign in with a Google ID token (verified server-side)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "idToken": {
                    "type": "string"
                  }
                },
                "required": [
                  "idToken"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "token"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid Google token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/apple": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Sign in with an Apple identity token (verified server-side)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identityToken": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "identityToken"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "token"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid Apple token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/verify-email/request": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Send (or re-send) the email verification link",
        "responses": {
          "200": {
            "description": "Always ok; sending is fire-and-forget",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/verify-email/confirm": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Confirm an email with its one-time token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid or already-used token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/password/forgot": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Request a password-reset email",
        "description": "Anti-enumeration: the response is identical whether the account exists or not.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Always ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/password/reset": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Set a new password with a one-time reset token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  }
                },
                "required": [
                  "token",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid or already-used token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/wallet/challenge": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Issue a short-lived wallet sign-in challenge",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "address",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Challenge JWT to sign",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "challenge": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "challenge"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/wallet": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify a signed wallet challenge",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string"
                  },
                  "challenge": {
                    "type": "string"
                  },
                  "signature": {
                    "type": "string"
                  }
                },
                "required": [
                  "address",
                  "challenge",
                  "signature"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signature valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid signature",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/me/onboarding": {
      "get": {
        "tags": [
          "Onboarding"
        ],
        "summary": "The caller's getting-started checklist",
        "responses": {
          "200": {
            "description": "Intent, progress and per-step completion derived from real actions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "intent": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        "verifier",
                        "issuer"
                      ]
                    },
                    "dismissed": {
                      "type": "boolean"
                    },
                    "progressPct": {
                      "type": "number"
                    },
                    "steps": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "minutes": {
                            "type": "number"
                          },
                          "href": {
                            "type": "string"
                          },
                          "done": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "id",
                          "minutes",
                          "href",
                          "done"
                        ]
                      }
                    }
                  },
                  "required": [
                    "intent",
                    "dismissed",
                    "progressPct",
                    "steps"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "patch": {
        "tags": [
          "Onboarding"
        ],
        "summary": "Set the caller's intent or dismiss the checklist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "intent": {
                    "type": "string",
                    "enum": [
                      "verifier",
                      "issuer"
                    ]
                  },
                  "dismissed": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated checklist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "intent": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        "verifier",
                        "issuer"
                      ]
                    },
                    "dismissed": {
                      "type": "boolean"
                    },
                    "progressPct": {
                      "type": "number"
                    },
                    "steps": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "minutes": {
                            "type": "number"
                          },
                          "href": {
                            "type": "string"
                          },
                          "done": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "id",
                          "minutes",
                          "href",
                          "done"
                        ]
                      }
                    }
                  },
                  "required": [
                    "intent",
                    "dismissed",
                    "progressPct",
                    "steps"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/relying-parties": {
      "get": {
        "tags": [
          "Relying parties"
        ],
        "summary": "List my relying parties",
        "responses": {
          "200": {
            "description": "Mine",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "relyingParties": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "createdAt"
                        ]
                      }
                    }
                  },
                  "required": [
                    "relyingParties"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Create a relying party and mint its first API key",
        "description": "The API key secret is returned ONCE and never again.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "verify:read",
                        "issue:write"
                      ]
                    },
                    "minItems": 1,
                    "default": [
                      "verify:read"
                    ]
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "live",
                      "test"
                    ],
                    "default": "live"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created; the apiKey secret is shown only in this response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "relyingParty": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "name"
                      ]
                    },
                    "apiKey": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "relyingParty",
                    "apiKey"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation error (including a scope outside the canonical catalog)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/relying-parties/{id}/keys": {
      "get": {
        "tags": [
          "Relying parties"
        ],
        "summary": "List API keys",
        "description": "Returns key metadata only. The secret is never included in listings.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "prefix": {
                            "type": "string"
                          },
                          "scopes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "mode": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "lastUsedAt": {
                            "type": "string",
                            "nullable": true
                          },
                          "revokedAt": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "id",
                          "prefix",
                          "scopes",
                          "mode",
                          "createdAt",
                          "lastUsedAt",
                          "revokedAt"
                        ]
                      }
                    }
                  },
                  "required": [
                    "keys"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Mint an additional API key for a relying party you own",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "verify:read",
                        "issue:write"
                      ]
                    },
                    "minItems": 1,
                    "default": [
                      "verify:read"
                    ]
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "live",
                      "test"
                    ],
                    "default": "live"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The apiKey secret is shown only in this response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "apiKey": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "apiKey"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found (also when the RP is not yours; existence is not leaked)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/relying-parties/{id}/keys/{keyId}": {
      "delete": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Revoke an API key",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "keyId",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Revoked (idempotent)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found (also when the RP is not yours; existence is not leaked)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/relying-parties/{id}/keys/{keyId}/rotate": {
      "post": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Rotate an API key",
        "description": "Revokes the old key and returns a new secret, the only time it is shown.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "keyId",
            "in": "path"
          }
        ],
        "responses": {
          "201": {
            "description": "New key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "apiKey": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "apiKey"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/relying-parties/{id}/verifications": {
      "get": {
        "tags": [
          "Relying parties"
        ],
        "summary": "List verification events",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "verdict",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "method": {
                            "type": "string"
                          },
                          "verdict": {
                            "type": "string"
                          },
                          "issuerRef": {
                            "type": "string",
                            "nullable": true
                          },
                          "latencyMs": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "risk": {
                            "type": "number",
                            "nullable": true
                          }
                        },
                        "required": [
                          "id",
                          "method",
                          "verdict",
                          "issuerRef",
                          "latencyMs",
                          "createdAt",
                          "risk"
                        ]
                      }
                    }
                  },
                  "required": [
                    "events"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/relying-parties/{id}/usage": {
      "get": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Get usage summary",
        "description": "Verification counts by verdict and by day over a selectable window (7, 30 or 90 days), plus the average anti-fraud risk in that window.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "7",
                "30",
                "90"
              ],
              "description": "Window length in days. Default 30."
            },
            "required": false,
            "name": "days",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Usage",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "number"
                    },
                    "byVerdict": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "number"
                      }
                    },
                    "byDay": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "day": {
                            "type": "string"
                          },
                          "count": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "day",
                          "count"
                        ]
                      }
                    },
                    "avgRisk": {
                      "type": "number",
                      "nullable": true
                    }
                  },
                  "required": [
                    "total",
                    "byVerdict",
                    "byDay",
                    "avgRisk"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/relying-parties/{id}/usage/periods": {
      "get": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Get usage by period",
        "description": "Exact, event-derived usage: the current calendar month (computed live) plus closed period snapshots, the same numbers billing uses.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Usage periods",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "current": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string"
                        },
                        "total": {
                          "type": "number"
                        },
                        "byVerdict": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "number"
                          }
                        },
                        "byMethod": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "number"
                          }
                        }
                      },
                      "required": [
                        "periodStart",
                        "total",
                        "byVerdict",
                        "byMethod"
                      ]
                    },
                    "closed": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "periodStart": {
                            "type": "string"
                          },
                          "periodEnd": {
                            "type": "string"
                          },
                          "totalVerifications": {
                            "type": "number"
                          },
                          "byVerdict": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "number"
                            }
                          },
                          "byMethod": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "number"
                            }
                          }
                        },
                        "required": [
                          "id",
                          "periodStart",
                          "periodEnd",
                          "totalVerifications",
                          "byVerdict",
                          "byMethod"
                        ]
                      }
                    }
                  },
                  "required": [
                    "current",
                    "closed"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/relying-parties/{id}/billing": {
      "get": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Get billing and fee disclosure",
        "description": "Verifier-pays fee disclosure: the plan, its pricing, live usage for the current period and the projected cost, computed with the exact same function billing uses. Issuing is free.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Billing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscription": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "scheduledChangeAction": {
                          "type": "string",
                          "nullable": true
                        },
                        "scheduledChangeAt": {
                          "type": "string",
                          "nullable": true
                        },
                        "pendingPlanId": {
                          "type": "string",
                          "nullable": true
                        },
                        "pendingEffectiveAt": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "status",
                        "scheduledChangeAction",
                        "scheduledChangeAt",
                        "pendingPlanId",
                        "pendingEffectiveAt"
                      ]
                    },
                    "plan": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "includedVerifications": {
                          "type": "number"
                        },
                        "pricePerVerificationCents": {
                          "type": "number"
                        },
                        "overagePolicy": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "includedVerifications",
                        "pricePerVerificationCents",
                        "overagePolicy"
                      ]
                    },
                    "currentPeriod": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string"
                        },
                        "periodEnd": {
                          "type": "string"
                        },
                        "total": {
                          "type": "number"
                        },
                        "cost": {
                          "type": "object",
                          "properties": {
                            "included": {
                              "type": "number"
                            },
                            "overage": {
                              "type": "number"
                            },
                            "overageCents": {
                              "type": "number"
                            },
                            "totalCents": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "included",
                            "overage",
                            "overageCents",
                            "totalCents"
                          ]
                        }
                      },
                      "required": [
                        "periodStart",
                        "periodEnd",
                        "total",
                        "cost"
                      ]
                    }
                  },
                  "required": [
                    "subscription",
                    "plan",
                    "currentPeriod"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/relying-parties/{id}/billing/plan": {
      "patch": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Change the plan",
        "description": "Upgrades or downgrades the verifier-pays plan. Validated against the plans defined in code (the same source as GET /plans). Returns the recomputed billing view.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "plan": {
                    "type": "string"
                  }
                },
                "required": [
                  "plan"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan changed"
          },
          "400": {
            "description": "Unknown plan"
          },
          "402": {
            "description": "Paid upgrade without a payment method (contact sales / add a card)"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/relying-parties/{id}/billing/reconcile": {
      "post": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Reconcile billing against the payment provider",
        "description": "Reads the provider's current subscriptions for this relying party and converges local state onto them, recovering from any event that was never delivered. Idempotent.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Reconciled (or nothing to reconcile)"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/admin/billing/close-periods": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Close last month's usage periods for every relying party",
        "description": "Closes the previous month's snapshot per relying party (idempotent), reports usage to the payments provider where the plan charges and a subscription exists, and reconciles every snapshot against the raw events. Safe to re-run.",
        "responses": {
          "200": {
            "description": "Summary of the run"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Not an admin"
          }
        }
      }
    },
    "/relying-parties/{id}/billing/checkout": {
      "post": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Start a hosted checkout for a paid plan",
        "description": "Returns the payment provider's hosted checkout URL, which collects a payment method for the chosen paid plan (nothing is charged today: usage is billed monthly). The plan upgrade is applied by the provider's webhook after payment is confirmed, never by this endpoint.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "plan": {
                    "type": "string"
                  }
                },
                "required": [
                  "plan"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The provider checkout: `transactionId` for an in-app overlay, `url` for a hosted redirect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "transactionId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "url",
                    "transactionId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Unknown or non-paid plan"
          },
          "404": {
            "description": "Not found"
          },
          "503": {
            "description": "Billing is not configured (missing price id for the plan)"
          }
        }
      }
    },
    "/webhooks/stripe": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Stripe events (signature-authenticated)",
        "description": "Applies payment outcomes: checkout.session.completed activates the paid plan; a deleted or unpaid subscription downgrades to free. Signature over the raw body is the authentication; deliveries are idempotent by event id.",
        "responses": {
          "200": {
            "description": "Received (including duplicates and ignored types)"
          },
          "400": {
            "description": "Bad signature or unparseable event"
          },
          "503": {
            "description": "Webhook secret not configured"
          }
        }
      }
    },
    "/webhooks/paddle": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Paddle events (signature-authenticated)",
        "description": "Applies payment outcomes: a completed plan-purchase transaction activates the paid plan; a canceled subscription downgrades to free. Signature over the raw body is the authentication; deliveries are idempotent by event id.",
        "responses": {
          "200": {
            "description": "Received (including duplicates and ignored types)"
          },
          "400": {
            "description": "Bad signature or unparseable event"
          },
          "503": {
            "description": "Webhook secret not configured"
          }
        }
      }
    },
    "/trust-marks": {
      "post": {
        "tags": [
          "Trust marks"
        ],
        "summary": "Issue a trust mark",
        "description": "Issues a portable \"Verified by Glemo\" mark tied to one of YOUR verification events with a valid verdict. The badge links to a public, server-backed proof. It cannot be forged without a real verification.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verificationEventId": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "required": [
                  "verificationEventId"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Trust mark",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markId": {
                      "type": "string"
                    },
                    "publicUrl": {
                      "type": "string"
                    },
                    "badgeUrl": {
                      "type": "string"
                    },
                    "embedHtml": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "markId",
                    "publicUrl",
                    "badgeUrl",
                    "embedHtml"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Event belongs to another relying party"
          },
          "404": {
            "description": "Event not found"
          },
          "422": {
            "description": "Event verdict is not valid"
          }
        }
      }
    },
    "/relying-parties/{id}/trust-marks": {
      "post": {
        "tags": [
          "Trust marks"
        ],
        "summary": "Issue a trust mark (dashboard)",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verificationEventId": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "required": [
                  "verificationEventId"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Trust mark",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markId": {
                      "type": "string"
                    },
                    "publicUrl": {
                      "type": "string"
                    },
                    "badgeUrl": {
                      "type": "string"
                    },
                    "embedHtml": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "markId",
                    "publicUrl",
                    "badgeUrl",
                    "embedHtml"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Event verdict is not valid"
          }
        }
      },
      "get": {
        "tags": [
          "Trust marks"
        ],
        "summary": "List trust marks",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Trust marks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "trustMarks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "markId": {
                            "type": "string"
                          },
                          "publicUrl": {
                            "type": "string"
                          },
                          "badgeUrl": {
                            "type": "string"
                          },
                          "embedHtml": {
                            "type": "string"
                          },
                          "verifiedAt": {
                            "type": "string"
                          },
                          "issuerRef": {
                            "type": "string",
                            "nullable": true
                          },
                          "verificationEventId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "markId",
                          "publicUrl",
                          "badgeUrl",
                          "embedHtml",
                          "verifiedAt",
                          "issuerRef",
                          "verificationEventId"
                        ]
                      }
                    }
                  },
                  "required": [
                    "trustMarks"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/public/trust-marks/{id}": {
      "get": {
        "tags": [
          "Trust marks"
        ],
        "summary": "Get trust mark proof",
        "description": "The public, server-backed proof a badge links to: verdict, method, issuer and verification date. No API key, no PII.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Proof",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markId": {
                      "type": "string"
                    },
                    "verdict": {
                      "type": "string"
                    },
                    "method": {
                      "type": "string"
                    },
                    "issuerRef": {
                      "type": "string",
                      "nullable": true
                    },
                    "verifiedAt": {
                      "type": "string"
                    },
                    "relyingPartyName": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "markId",
                    "verdict",
                    "method",
                    "issuerRef",
                    "verifiedAt",
                    "relyingPartyName"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/relying-parties/{id}/integrations": {
      "post": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Create an ATS integration",
        "description": "Connects an ATS/HRIS (Greenhouse, …) so candidate credentials verify natively inside the hiring flow. The webhook secret is shown ONCE.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "minLength": 1
                  },
                  "config": {
                    "type": "object",
                    "properties": {
                      "fieldMapping": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "fieldMapping"
                    ]
                  }
                },
                "required": [
                  "provider",
                  "config"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Integration created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "integrationId": {
                      "type": "string"
                    },
                    "webhookSecret": {
                      "type": "string"
                    },
                    "webhookUrl": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "integrationId",
                    "webhookSecret",
                    "webhookUrl"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Unknown provider"
          }
        }
      },
      "get": {
        "tags": [
          "Relying parties"
        ],
        "summary": "List ATS integrations",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Integrations (config and secret are never re-exposed)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "integrations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "provider": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "provider",
                          "status",
                          "createdAt"
                        ]
                      }
                    }
                  },
                  "required": [
                    "integrations"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/relying-parties/{id}/integrations/{integrationId}/pause": {
      "post": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Pause an ATS integration",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "integrationId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Paused"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/relying-parties/{id}/integrations/{integrationId}/resume": {
      "post": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Resume an ATS integration",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "integrationId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Resumed"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/relying-parties/{id}/integrations/{integrationId}/rotate-secret": {
      "post": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Rotate the webhook secret",
        "description": "Returns a fresh secret ONCE; the old one stops validating webhooks immediately.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "integrationId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "New secret",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhookSecret": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "webhookSecret"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/relying-parties/{id}/integrations/{integrationId}/test": {
      "post": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Test the ATS connection",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "integrationId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/relying-parties/{id}/integrations/{integrationId}/simulate": {
      "post": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Run a test verification (simulation)",
        "description": "Runs the REAL verify pipeline over a synthetic candidate carrying a real credential id: a real verdict and run, only the origin is simulated (not an actual ATS webhook). Useful before a live ATS is wired.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "integrationId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "credentialId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "candidateName": {
                    "type": "string"
                  }
                },
                "required": [
                  "credentialId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Simulation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "runId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "wroteBack": {
                      "type": "boolean"
                    },
                    "outcomes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "credential": {
                            "type": "string"
                          },
                          "verdict": {
                            "type": "string"
                          },
                          "riskScore": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "credential",
                          "verdict",
                          "riskScore"
                        ]
                      }
                    }
                  },
                  "required": [
                    "status",
                    "wroteBack"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/relying-parties/{id}/integrations/{integrationId}/runs": {
      "get": {
        "tags": [
          "Relying parties"
        ],
        "summary": "List integration runs",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "integrationId",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Runs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "runs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "candidate": {
                            "type": "string"
                          },
                          "outcomes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "credential": {
                                  "type": "string"
                                },
                                "verdict": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "credential",
                                "verdict"
                              ]
                            }
                          },
                          "status": {
                            "type": "string"
                          },
                          "wroteBack": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "candidate",
                          "outcomes",
                          "status",
                          "wroteBack",
                          "createdAt"
                        ]
                      }
                    }
                  },
                  "required": [
                    "runs"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/rp/ping": {
      "get": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Probe an API key (auth + verify:read scope)",
        "responses": {
          "200": {
            "description": "The relying party the key belongs to",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "relyingPartyId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "relyingPartyId"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Missing scope"
          }
        }
      }
    },
    "/organizations": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Create an organization; the caller becomes its owner",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "displayName": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "websiteUrl": {
                    "type": "string",
                    "format": "uri"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created (status pending until an admin approves)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organization": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "status"
                      ]
                    }
                  },
                  "required": [
                    "organization"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{id}": {
      "patch": {
        "tags": [
          "Organizations"
        ],
        "summary": "Update an organization's profile and white-label settings",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "websiteUrl": {
                    "type": "string",
                    "nullable": true,
                    "format": "uri"
                  },
                  "brandColor": {
                    "type": "string",
                    "nullable": true,
                    "pattern": "^#[0-9a-fA-F]{6}$"
                  },
                  "whiteLabel": {
                    "type": "boolean"
                  },
                  "verifyDomain": {
                    "type": "string",
                    "nullable": true,
                    "pattern": "^[a-z0-9.-]+$"
                  },
                  "walletDelivery": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organization": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Not a member of this organization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Another organization already owns this verify domain",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
[...]
