{
  "openapi": "3.1.0",
  "info": {
    "title": "Glemo API",
    "version": "0.1.0",
    "description": "Glemo is a credential verification network: one API to verify\ncredentials from **any issuer** — W3C Verifiable Credentials 2.0 / Open\nBadges 3.0 — with a deterministic, cryptographic verdict.\n\n## Base URLs\n\n| Environment | URL |\n|-------------|-----|\n| Sandbox | `https://api-sandbox.glemo.io` |\n| Production | `https://api.glemo.io` |\n\n## Authentication\n\nSend your API key as a Bearer token:\n\n```bash\ncurl https://api-sandbox.glemo.io/verify \\\n  -H \"Authorization: Bearer glemo_test_...\"\n```\n\nNo key yet? `POST /sandbox/keys` provisions a test key plus two sample\ncredentials — no signup. Follow the\n[quickstart](https://glemo.io/docs/quickstart) for the 5-minute path.\n\n## Verdicts\n\nEvery verification resolves to exactly one of: `valid`, `revoked`,\n`expired`, `tampered`, `not_found`, `not_verifiable`. Never a maybe.\n\n## Errors & rate limits\n\nErrors are JSON with a stable `error` code (`unauthorized`, `forbidden`,\n`validation`, `rate_limited`). Throttled requests return `429` with a\n`Retry-After` header in seconds."
  },
  "servers": [
    {
      "url": "https://api-sandbox.glemo.io",
      "description": "Sandbox"
    },
    {
      "url": "https://api.glemo.io",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Verify",
      "description": "The product: one call, a deterministic verdict."
    },
    {
      "name": "Issue",
      "description": "The supply side: issue verifiable credentials your recipients can hold and anyone can verify. Email is enough — no wallet required."
    },
    {
      "name": "Sandbox",
      "description": "Self-serve test keys and sample credentials. No signup, rate-limited."
    },
    {
      "name": "Trust marks",
      "description": "Portable \"Verified by Glemo\" badges tied to real verification events — each links to a public, server-backed proof."
    },
    {
      "name": "Public verification",
      "description": "Verify a credential from a share link — no API key, rate-limited, no PII."
    },
    {
      "name": "Relying parties",
      "description": "Manage your relying parties, API keys, verification history and usage."
    },
    {
      "name": "Status lists",
      "description": "W3C Status List 2021 credentials — the standard revocation mechanism."
    },
    {
      "name": "Reputation",
      "description": "Issuer reputation from real network activity — the signal only the center of the network can compute."
    },
    {
      "name": "System",
      "description": "Service health."
    }
  ],
  "components": {
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Service health",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "version": {
                      "type": "string"
                    },
                    "uptime": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "status",
                    "version",
                    "uptime"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/plans": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Public pricing plans",
        "description": "The pricing plans (free/starter/scale) — the single source the pricing page renders.",
        "responses": {
          "200": {
            "description": "Plans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plans": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "includedVerifications": {
                            "type": "number"
                          },
                          "pricePerVerificationCents": {
                            "type": "number"
                          },
                          "overagePolicy": {
                            "type": "string"
                          },
                          "features": {
                            "type": "object",
                            "properties": {
                              "byZkTls": {
                                "type": "boolean"
                              },
                              "byImage": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "byZkTls",
                              "byImage"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "includedVerifications",
                          "pricePerVerificationCents",
                          "overagePolicy",
                          "features"
                        ]
                      }
                    }
                  },
                  "required": [
                    "plans"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/relying-parties": {
      "get": {
        "tags": [
          "Relying parties"
        ],
        "summary": "List my relying parties",
        "responses": {
          "200": {
            "description": "Mine",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "relyingParties": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "createdAt"
                        ]
                      }
                    }
                  },
                  "required": [
                    "relyingParties"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/relying-parties/{id}/keys": {
      "get": {
        "tags": [
          "Relying parties"
        ],
        "summary": "List API keys",
        "description": "Returns key metadata only — the secret is never included in listings.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "prefix": {
                            "type": "string"
                          },
                          "scopes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "mode": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "lastUsedAt": {
                            "type": "string",
                            "nullable": true
                          },
                          "revokedAt": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "id",
                          "prefix",
                          "scopes",
                          "mode",
                          "createdAt",
                          "lastUsedAt",
                          "revokedAt"
                        ]
                      }
                    }
                  },
                  "required": [
                    "keys"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Create an API key",
        "description": "The response contains the secret — the only time it is shown. Store it safely.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": [
                      "verify:read"
                    ]
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "live",
                      "test"
                    ],
                    "default": "live"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "apiKey": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "apiKey"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/relying-parties/{id}/keys/{keyId}": {
      "delete": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Revoke an API key",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "keyId",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Revoked"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/relying-parties/{id}/keys/{keyId}/rotate": {
      "post": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Rotate an API key",
        "description": "Revokes the old key and returns a new secret — the only time it is shown.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "keyId",
            "in": "path"
          }
        ],
        "responses": {
          "201": {
            "description": "New key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "apiKey": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "apiKey"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/relying-parties/{id}/verifications": {
      "get": {
        "tags": [
          "Relying parties"
        ],
        "summary": "List verification events",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "verdict",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "method": {
                            "type": "string"
                          },
                          "verdict": {
                            "type": "string"
                          },
                          "issuerRef": {
                            "type": "string",
                            "nullable": true
                          },
                          "latencyMs": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "risk": {
                            "type": "number",
                            "nullable": true
                          }
                        },
                        "required": [
                          "id",
                          "method",
                          "verdict",
                          "issuerRef",
                          "latencyMs",
                          "createdAt",
                          "risk"
                        ]
                      }
                    }
                  },
                  "required": [
                    "events"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/relying-parties/{id}/usage": {
      "get": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Get usage summary",
        "description": "Verification counts by verdict and by day over the last 30 days.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Usage",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "number"
                    },
                    "byVerdict": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "number"
                      }
                    },
                    "byDay": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "day": {
                            "type": "string"
                          },
                          "count": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "day",
                          "count"
                        ]
                      }
                    }
                  },
                  "required": [
                    "total",
                    "byVerdict",
                    "byDay"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/relying-parties/{id}/usage/periods": {
      "get": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Get usage by period",
        "description": "Exact, event-derived usage: the current calendar month (computed live) plus closed period snapshots — the same numbers billing uses.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Usage periods",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "current": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string"
                        },
                        "total": {
                          "type": "number"
                        },
                        "byVerdict": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "number"
                          }
                        },
                        "byMethod": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "number"
                          }
                        }
                      },
                      "required": [
                        "periodStart",
                        "total",
                        "byVerdict",
                        "byMethod"
                      ]
                    },
                    "closed": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "periodStart": {
                            "type": "string"
                          },
                          "periodEnd": {
                            "type": "string"
                          },
                          "totalVerifications": {
                            "type": "number"
                          },
                          "byVerdict": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "number"
                            }
                          },
                          "byMethod": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "number"
                            }
                          }
                        },
                        "required": [
                          "id",
                          "periodStart",
                          "periodEnd",
                          "totalVerifications",
                          "byVerdict",
                          "byMethod"
                        ]
                      }
                    }
                  },
                  "required": [
                    "current",
                    "closed"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/relying-parties/{id}/billing": {
      "get": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Get billing and fee disclosure",
        "description": "Verifier-pays fee disclosure: the plan, its pricing, live usage for the current period and the projected cost — computed with the exact same function billing uses. Issuing is free.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Billing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plan": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "includedVerifications": {
                          "type": "number"
                        },
                        "pricePerVerificationCents": {
                          "type": "number"
                        },
                        "overagePolicy": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "includedVerifications",
                        "pricePerVerificationCents",
                        "overagePolicy"
                      ]
                    },
                    "currentPeriod": {
                      "type": "object",
                      "properties": {
                        "periodStart": {
                          "type": "string"
                        },
                        "periodEnd": {
                          "type": "string"
                        },
                        "total": {
                          "type": "number"
                        },
                        "cost": {
                          "type": "object",
                          "properties": {
                            "included": {
                              "type": "number"
                            },
                            "overage": {
                              "type": "number"
                            },
                            "overageCents": {
                              "type": "number"
                            },
                            "totalCents": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "included",
                            "overage",
                            "overageCents",
                            "totalCents"
                          ]
                        }
                      },
                      "required": [
                        "periodStart",
                        "periodEnd",
                        "total",
                        "cost"
                      ]
                    }
                  },
                  "required": [
                    "plan",
                    "currentPeriod"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/trust-marks": {
      "post": {
        "tags": [
          "Trust marks"
        ],
        "summary": "Issue a trust mark",
        "description": "Issues a portable \"Verified by Glemo\" mark tied to one of YOUR verification events with a valid verdict. The badge links to a public, server-backed proof — it cannot be forged without a real verification.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verificationEventId": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "required": [
                  "verificationEventId"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Trust mark",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markId": {
                      "type": "string"
                    },
                    "publicUrl": {
                      "type": "string"
                    },
                    "badgeUrl": {
                      "type": "string"
                    },
                    "embedHtml": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "markId",
                    "publicUrl",
                    "badgeUrl",
                    "embedHtml"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Event belongs to another relying party"
          },
          "404": {
            "description": "Event not found"
          },
          "422": {
            "description": "Event verdict is not valid"
          }
        }
      }
    },
    "/relying-parties/{id}/trust-marks": {
      "post": {
        "tags": [
          "Trust marks"
        ],
        "summary": "Issue a trust mark (dashboard)",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verificationEventId": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "required": [
                  "verificationEventId"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Trust mark",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markId": {
                      "type": "string"
                    },
                    "publicUrl": {
                      "type": "string"
                    },
                    "badgeUrl": {
                      "type": "string"
                    },
                    "embedHtml": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "markId",
                    "publicUrl",
                    "badgeUrl",
                    "embedHtml"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Event verdict is not valid"
          }
        }
      },
      "get": {
        "tags": [
          "Trust marks"
        ],
        "summary": "List trust marks",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Trust marks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "trustMarks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "markId": {
                            "type": "string"
                          },
                          "publicUrl": {
                            "type": "string"
                          },
                          "badgeUrl": {
                            "type": "string"
                          },
                          "embedHtml": {
                            "type": "string"
                          },
                          "verifiedAt": {
                            "type": "string"
                          },
                          "issuerRef": {
                            "type": "string",
                            "nullable": true
                          },
                          "verificationEventId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "markId",
                          "publicUrl",
                          "badgeUrl",
                          "embedHtml",
                          "verifiedAt",
                          "issuerRef",
                          "verificationEventId"
                        ]
                      }
                    }
                  },
                  "required": [
                    "trustMarks"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/public/trust-marks/{id}": {
      "get": {
        "tags": [
          "Trust marks"
        ],
        "summary": "Get trust mark proof",
        "description": "The public, server-backed proof a badge links to: verdict, method, issuer and verification date. No API key, no PII.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Proof",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markId": {
                      "type": "string"
                    },
                    "verdict": {
                      "type": "string"
                    },
                    "method": {
                      "type": "string"
                    },
                    "issuerRef": {
                      "type": "string",
                      "nullable": true
                    },
                    "verifiedAt": {
                      "type": "string"
                    },
                    "relyingPartyName": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "markId",
                    "verdict",
                    "method",
                    "issuerRef",
                    "verifiedAt",
                    "relyingPartyName"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/relying-parties/{id}/integrations": {
      "post": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Create an ATS integration",
        "description": "Connects an ATS/HRIS (Greenhouse, …) so candidate credentials verify natively inside the hiring flow. The webhook secret is shown ONCE.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "minLength": 1
                  },
                  "config": {
                    "type": "object",
                    "properties": {
                      "fieldMapping": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "fieldMapping"
                    ]
                  }
                },
                "required": [
                  "provider",
                  "config"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Integration created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "integrationId": {
                      "type": "string"
                    },
                    "webhookSecret": {
                      "type": "string"
                    },
                    "webhookUrl": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "integrationId",
                    "webhookSecret",
                    "webhookUrl"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Unknown provider"
          }
        }
      },
      "get": {
        "tags": [
          "Relying parties"
        ],
        "summary": "List ATS integrations",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Integrations (config and secret are never re-exposed)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "integrations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "provider": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "provider",
                          "status",
                          "createdAt"
                        ]
                      }
                    }
                  },
                  "required": [
                    "integrations"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/relying-parties/{id}/integrations/{integrationId}/pause": {
      "post": {
        "tags": [
          "Relying parties"
        ],
        "summary": "Pause an ATS integration",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "integrationId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Paused"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/admin/analytics/network": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Network analytics (admin)",
        "description": "Moat metrics over an explicit window: verifications per month, active relying parties, cohort retention by first event, distinct issuers, credentials issued and revenue — all computed from the event store with the same cost function billing uses.",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 36,
              "default": 6
            },
            "required": false,
            "name": "months",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Network analytics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "window": {
                      "type": "object",
                      "properties": {
                        "from": {
                          "type": "string"
                        },
                        "to": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "from",
                        "to"
                      ]
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "totalVerifications": {
                          "type": "number"
                        },
                        "activeRelyingParties": {
                          "type": "number"
                        },
                        "distinctIssuers": {
                          "type": "number"
                        },
                        "credentialsIssued": {
                          "type": "number"
                        },
                        "revenueCents": {
                          "type": "number"
                        },
                        "momGrowthPct": {
                          "type": "number",
                          "nullable": true
                        }
                      },
                      "required": [
                        "totalVerifications",
                        "activeRelyingParties",
                        "distinctIssuers",
                        "credentialsIssued",
                        "revenueCents",
                        "momGrowthPct"
                      ]
                    },
                    "verificationsPerMonth": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "month": {
                            "type": "string"
                          },
                          "count": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "month",
                          "count"
                        ]
                      }
                    },
                    "activeRelyingParties": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "month": {
                            "type": "string"
                          },
                          "count": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "month",
                          "count"
                        ]
                      }
                    },
                    "retention": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cohort": {
                            "type": "string"
                          },
                          "size": {
                            "type": "number"
                          },
                          "retention": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          }
                        },
                        "required": [
                          "cohort",
                          "size",
                          "retention"
                        ]
                      }
                    },
                    "issuers": {
                      "type": "object",
                      "properties": {
                        "distinctIssuers": {
                          "type": "number"
                        },
                        "credentialsPerMonth": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "month": {
                                "type": "string"
                              },
                              "count": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "month",
                              "count"
                            ]
                          }
                        }
                      },
                      "required": [
                        "distinctIssuers",
                        "credentialsPerMonth"
                      ]
                    },
                    "revenue": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "month": {
                            "type": "string"
                          },
                          "totalCents": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "month",
                          "totalCents"
                        ]
                      }
                    }
                  },
                  "required": [
                    "window",
                    "summary",
                    "verificationsPerMonth",
                    "activeRelyingParties",
                    "retention",
                    "issuers",
                    "revenue"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/reputation/issuers/{issuerRef}": {
      "get": {
        "tags": [
          "Reputation"
        ],
        "summary": "Get issuer reputation",
        "description": "Reputation score (0-100) for an issuer computed from real network activity: distinct credentials verified, verdict rates and average fraud signal. Aggregates only — never raw counts or event data. Issuers below the minimum sample return insufficient_data.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "issuerRef",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Issuer reputation (aggregates only)",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "insufficient_data"
                          ]
                        }
                      },
                      "required": [
                        "status"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "scored"
                          ]
                        },
                        "score": {
                          "type": "number"
                        },
                        "volumeBand": {
                          "type": "string"
                        },
                        "validRate": {
                          "type": "number"
                        },
                        "revokedRate": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "status",
                        "score",
                        "volumeBand",
                        "validRate",
                        "revokedRate"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/admin/reputation": {
      "get": {
        "tags": [
          "Reputation"
        ],
        "summary": "List issuer reputations (admin)",
        "description": "All issuers in the window with full score components.",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 36,
              "default": 6
            },
            "required": false,
            "name": "months",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Issuer reputations with components",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "window": {
                      "type": "object",
                      "properties": {
                        "from": {
                          "type": "string"
                        },
                        "to": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "from",
                        "to"
                      ]
                    },
                    "issuers": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "issuerRef": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "insufficient_data"
                                ]
                              },
                              "distinctCredentials": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "issuerRef",
                              "status",
                              "distinctCredentials"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "issuerRef": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "scored"
                                ]
                              },
                              "score": {
                                "type": "number"
                              },
                              "volumeBand": {
                                "type": "string"
                              },
                              "validRate": {
                                "type": "number"
                              },
                              "revokedRate": {
                                "type": "number"
                              },
                              "components": {
                                "type": "object",
                                "properties": {
                                  "distinctCredentials": {
                                    "type": "number"
                                  },
                                  "validRate": {
                                    "type": "number"
                                  },
                                  "revokedRate": {
                                    "type": "number"
                                  },
                                  "avgRisk": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "distinctCredentials",
                                  "validRate",
                                  "revokedRate",
                                  "avgRisk"
                                ]
                              }
                            },
                            "required": [
                              "issuerRef",
                              "status",
                              "score",
                              "volumeBand",
                              "validRate",
                              "revokedRate",
                              "components"
                            ]
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "window",
                    "issuers"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/admin/compliance/erasure": {
      "post": {
        "tags": [
          "System"
        ],
        "summary": "Erase credential PII (right to be forgotten)",
        "description": "CNIL pattern: destroys the per-credential commitment key (making the on-chain anchor unlinkable) and scrubs all off-chain PII. Verification by hash keeps working — integrity proof without personal data. Logged in erasure_log.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "credentialId": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "required": [
                  "credentialId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Erasure result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "credentialId": {
                      "type": "string"
                    },
                    "keyDestroyed": {
                      "type": "boolean"
                    },
                    "offchainScrubbed": {
                      "type": "boolean"
                    },
                    "jobRowsScrubbed": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "credentialId",
                    "keyDestroyed",
                    "offchainScrubbed",
                    "jobRowsScrubbed"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Credential not found"
          }
        }
      }
    },
    "/status-lists/{id}": {
      "get": {
        "tags": [
          "Status lists"
        ],
        "summary": "Get a status list",
        "description": "Serves the W3C Status List 2021 credential used for revocation checks. Public endpoint.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "StatusList2021Credential",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/verify": {
      "post": {
        "tags": [
          "Verify"
        ],
        "summary": "Verify a credential",
        "description": "`byHash` verifies a registered credential by id; `byVC` verifies a portable VC-JWT (or selectively-disclosed SD-JWT presentation) from any issuer; `byZkTls` verifies a credential from a NON-integrated issuer via a zkTLS proof and Glemo's curated schema registry; `byImage` matches a credential image by hash and runs AI-fraud analysis. Every verdict includes an anti-fraud `risk` score.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "method": {
                    "type": "string",
                    "enum": [
                      "byHash",
                      "byVC",
                      "byZkTls",
                      "byImage"
                    ]
                  },
                  "credentialId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "jwt": {
                    "type": "string"
                  },
                  "domain": {
                    "type": "string",
                    "example": "coursera.org"
                  },
                  "proof": {
                    "type": "object",
                    "properties": {
                      "engine": {
                        "type": "string",
                        "example": "reclaim"
                      },
                      "payload": {
                        "nullable": true,
                        "description": "Proof payload as produced by the zkTLS engine"
                      }
                    },
                    "required": [
                      "engine"
                    ]
                  },
                  "imageBase64": {
                    "type": "string",
                    "description": "Credential image (PNG/JPEG) or PDF, base64. Max 2 MB decoded."
                  }
                },
                "required": [
                  "method"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verdict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "checks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "ok": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "name",
                          "ok"
                        ]
                      }
                    },
                    "issuer": {
                      "type": "string"
                    },
                    "claims": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "risk": {
                      "type": "object",
                      "properties": {
                        "score": {
                          "type": "number"
                        },
                        "signals": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "score",
                        "signals"
                      ],
                      "description": "Anti-fraud risk score 0-100. A signal, never a verdict override."
                    }
                  },
                  "required": [
                    "status",
                    "checks"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Monthly quota exceeded (block-policy plans). Upgrade to continue."
          },
          "403": {
            "description": "Forbidden (missing scope or plan feature)"
          }
        }
      }
    },
    "/issue": {
      "post": {
        "tags": [
          "Issue"
        ],
        "summary": "Issue a credential",
        "description": "Issues a W3C VC 2.0 / Open Badges 3.0 credential (VC-JWT plus a selectively-disclosable SD-JWT), anchors it, and — for email recipients — delivers it with a public verification link. Recipients don't need a wallet: an email address is enough.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recipient": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "example": "ada@university.edu"
                      },
                      "did": {
                        "type": "string",
                        "example": "did:web:alice.example.com"
                      },
                      "name": {
                        "type": "string",
                        "example": "Ada Lovelace"
                      }
                    }
                  },
                  "achievement": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "example": "Avalanche Fundamentals"
                      },
                      "description": {
                        "type": "string"
                      },
                      "criteria": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name"
                    ]
                  },
                  "validUntil": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "soulbound": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "recipient",
                  "achievement"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Credential issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "credentialId": {
                      "type": "string"
                    },
                    "subjectId": {
                      "type": "string"
                    },
                    "publicUrl": {
                      "type": "string"
                    },
                    "jwt": {
                      "type": "string"
                    },
                    "sdJwt": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "credentialId",
                    "subjectId",
                    "publicUrl",
                    "jwt",
                    "sdJwt"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/public/verifications/{credentialId}": {
      "get": {
        "tags": [
          "Public verification"
        ],
        "summary": "Verify a shared credential",
        "description": "No auth — used by share links and QR codes. Rate-limited; the response never contains PII.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "credentialId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Verdict (not_found is a verdict, never 404)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "issuerDid": {
                      "type": "string",
                      "nullable": true
                    },
                    "validFrom": {
                      "type": "string",
                      "nullable": true
                    },
                    "validUntil": {
                      "type": "string",
                      "nullable": true
                    },
                    "checkedAt": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "issuerDid",
                    "validFrom",
                    "validUntil",
                    "checkedAt"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/sandbox/keys": {
      "post": {
        "tags": [
          "Sandbox"
        ],
        "summary": "Create a sandbox key",
        "description": "Self-serve: returns a test API key plus one valid and one revoked sample credential. Rate-limited (5/hour per IP).",
        "responses": {
          "201": {
            "description": "Test key + sample credential ids",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "apiKey": {
                      "type": "string"
                    },
                    "credentials": {
                      "type": "object",
                      "properties": {
                        "valid": {
                          "type": "string"
                        },
                        "revoked": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "valid",
                        "revoked"
                      ]
                    }
                  },
                  "required": [
                    "apiKey",
                    "credentials"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
